
# # 2. 代码补全
jupyterlab
jupyterlab-lsp
"python-lsp-server[all]"

# 3. base pip
apache-superset==4.0.0
vanna==0.5.5
mysqlclient
Pillow
flask_cors
PyMySQL
ipython

# # superset 预测插件
prophet

yapf
flake8
mlflow
pycaret[full]
keras
keras-bert
tensorflow
hyperopt