jupyter==1.0.0
jupyterlab==3.6.4
notebook==6.5.4
voila==0.4.0
jupyterlab-spellchecker==0.7.3
jupyterlab-code-formatter==2.2.1
black==23.3.0
isort==5.12.0
nbdime==3.2.1
RISE==5.7.1
Bokeh==3.1.1
nbgrader==0.8.2
Jupytext==1.14.6
jupyterlab-git==0.41.0

